﻿@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.Value.SiteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @if (Context.Items["User"] != null)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Secure" asp-action="Index">@settings.Value.SiteName</a>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@settings.Value.SiteName</a>
            }
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Context.Items["User"] != null
                        && (UserSession)Context.Items["UserSession"] != null
                        && ((UserSession)Context.Items["UserSession"]).IsValid == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Dashboard">Dashboard</a>
                        </li>
                        if (((User)Context.Items["User"]).IsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Admin">Admin Page</a>
                            </li>
                        } 
                    }                    
                </ul>
                <div class="form-inline mt-2 mt-md-0">
                    @if (Context.Items["User"] != null)
                    {
                        <span class="text-light mr-sm-3">Signed in as: <span class="signed-in-text">@(((User)Context.Items["User"]).Username)</span></span>                        
                        <span>&nbsp;</span>
                    }

                    @if (Context.Items["User"] == null)
                    {
                        <span class="badge badge-primary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a></span>
                    }
                    else
                    {
                        <span class="badge badge-secondary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" onclick="$('#SignOutForm').submit(); return false;"><strong>Sign Out</strong></a></span>                                
                    }
                </div>
            </div>
        </nav>
        
        <form id="SignOutForm" style="display: none;" action="@Url.Content("~/Home/SignOut")" method="post"></form>
        
        <div class="modal fade" id="sessionTimeoutModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-in Session Expiring</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="renewSession();">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        The current sign-in session will expire in <span id="remainingTimeLabel"></span>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#SignOutForm').submit();">Sign Out</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="renewSession();">Continue Session</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="loadingModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Processing...
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @settings.Value.SiteName
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>

    <script>        
        var baseUrl = '@Url.Content("~/")'
        var siteUrl = '@settings.Value.SiteUrl'
        var sessionTime = '@settings.Value.SessionTime'
        var pollingIntervalsStr = '@settings.Value.PollingIntervals'
        var pollingIntervals = pollingIntervalsStr.trim().split(/\s*,\s*/).map(function(item) {
            return parseInt(item)
        })
    </script>

    <form id="csrf-protection-form">
        @Html.AntiForgeryToken()
    </form>

    <script src="~/js/csrf-protection.js" asp-append-version="true"></script>
    <script src="~/js/session-helper.js" asp-append-version="true"></script>
    <script src="~/js/site-uptime.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/u2f-api-1.1.js")"></script>

    @RenderSection("Scripts", required: false)

    @if (Context.Items["User"] != null)
    {
        <script>
            initializeSessionTimeout()
        </script>
    }

</body>
</html>
