﻿@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
        body {
            padding-top: 0.5rem;
        }
    </style>
</head>
<body>
    <header>
        <div class="modal fade" id="loadingModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Processing...
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Provided by: @settings.Value.SiteName
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>

    <script>
        var baseUrl = '@Url.Content("~/")'
        var pollingIntervalsStr = '@settings.Value.PollingIntervals'
        var pollingIntervals = pollingIntervalsStr.trim().split(/\s*,\s*/).map(function(item) {
            return parseInt(item)
        })
    </script>

    <form id="csrf-protection-form">
        @Html.AntiForgeryToken()
    </form>

    <script src="~/js/csrf-protection.js" asp-append-version="true"></script>
    <script src="~/js/public-status-page.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
