﻿@using SiteUptime.Helpers.Authentication
@model ActivateAccountResult
@{
    var isInvalidCode = false;

    if (Model != null)
    {
        isInvalidCode = Model.ActivateAccountResultType == ActivateAccountResultType.InvalidCode;
    }

    ViewData["Title"] = "Activate Account";    
}

@if (isInvalidCode)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Activate Account - Invalid Code
        </div>
        <div class="card-body">
            <p class="card-text">The activation code is invalid.</p>
            <br />
            <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
        </div>
    </div>
}
else
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Account Activated
        </div>
        <div class="card-body">
            <div class="alert alert-success">
                Your account was successfully activated!
            </div>
            <br />
            
            <a href="@Url.Content("~/")" class="btn btn-primary">Sign In</a>         
        </div>
    </div>
}
