﻿@using SiteUptime.Helpers.Authentication
@model ActivateAlertContactResult
@{
    var isInvalidCode = false;

    if (Model != null)
    {
        isInvalidCode = Model.ActivateAlertContactResultType == ActivateAlertContactResultType.InvalidCode;
    }

    ViewData["Title"] = "Activate Alert Contact";    
}

@if (isInvalidCode)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Activate Alert Contact - Invalid Code
        </div>
        <div class="card-body">
            <p class="card-text">The activation code is invalid.</p>
            <br />
            @if (Context.Items["User"] != null)
            {
                <a href="@Url.Content("~/")" class="btn btn-primary">Go to Dashboard</a>
            }
            else
            {
                <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
            }
        </div>
    </div>
}
else
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Alert Contact Activated
        </div>
        <div class="card-body">
            <div class="alert alert-success">
                Your alert contact was successfully activated!
            </div>
            <br />
            
            @if (Context.Items["User"] != null)
            {
                <a href="@Url.Content("~/")" class="btn btn-primary">Go to Dashboard</a>
                 
            }
            else
            {
                <a href="@Url.Content("~/")" class="btn btn-primary">Sign In</a>
            }
        </div>
    </div>
}
