﻿@using SiteUptime.Helpers.Authentication
@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
@model ForgotPasswordResult
@{
    var code = string.Empty;
    var username = string.Empty;
    var isPasswordsDoNotMatch = false;
    var isInvalidCode = false;
    var isInvalidRecaptcha = false;

    if (Model != null)
    {
        code = Model.Code;
        username = Model.Username;
        isPasswordsDoNotMatch = Model.ForgotPasswordResultType == ForgotPasswordResultType.PasswordsDoNotMatch;
        isInvalidCode = Model.ForgotPasswordResultType == ForgotPasswordResultType.InvalidCode;
        isInvalidRecaptcha = Model.ForgotPasswordResultType == ForgotPasswordResultType.InvalidRecaptcha;
    }

    if (!string.IsNullOrEmpty(code))
    {
        ViewData["Title"] = "Sign In - Reset Password";
    }
    else
    {
        ViewData["Title"] = "Sign In - Forgot Password";
    }
}

@if (isInvalidCode)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Reset Password - Invalid Code
        </div>
        <div class="card-body">
            <p class="card-text">The password recovery code is invalid.</p>
            <br />
            <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(code))
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Set a new password to sign in.</h6>
            <form method="post" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <input type="hidden" name="code" value="@code">
                <input type="hidden" name="username" value="@username">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control @{ if (isPasswordsDoNotMatch) { WriteLiteral("is-invalid"); } }" id="password" name="password" value="" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">New Password (Confirm)</label>
                    <input type="password" class="form-control @{ if (isPasswordsDoNotMatch) { WriteLiteral("is-invalid"); } }" id="confirmPassword" name="confirmPassword" required>
                    <div class="invalid-feedback">                        
                        @if (isPasswordsDoNotMatch) 
                        { 
                            <span>The new passwords entered do not match.  Please try again.</span>
                        }
                        else 
                        {
                            <span>Please enter a new password twice.</span>
                        }
                    </div>
                </div>                
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Forgot Password
        </div>
        <div class="card-body">
            @if (isInvalidRecaptcha)
            {
                <div class="alert alert-danger">
                    There was an error submitting your email address.  Please try again.
                </div>
            }
            <h6 class="card-subtitle mb-2 text-muted">Please enter your email address to reset your password.</h6>
            <form method="post" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="" required>
                    <div class="invalid-feedback">
                        Please enter your email address.
                    </div>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="@settings.Value.GoogleReCaptchaSiteKey"></div>
                </div>
                <a href="@Url.Content("~/")">Back to Sign In</a>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(function() {
            if ($('#email').length) {
                $('#email').focus()
            }
        })

        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');                        
                    }, false);
                });
            }, false);            
        })();
    </script>
}