﻿@using SiteUptime.Helpers.Authentication
@model AuthenticationResult
@{
    ViewData["Title"] = "Sign In";   

    ViewBag.User = Context.Items["User"];     

    var username = string.Empty;
    var isInvalidCredentials = false;
    var isInvalidTwoFactorResponse = false;
    var isInvalidSecurityAnswer = false;
    var isSignedOut = false;

    if (Model != null)
    {
        username = Model.Username;
        isInvalidCredentials = Model.AuthenticationResultType == AuthenticationResultType.InvalidCredentials;
        isInvalidTwoFactorResponse = Model.AuthenticationResultType == AuthenticationResultType.InvalidTwoFactorResponse;
        isInvalidSecurityAnswer = Model.AuthenticationResultType == AuthenticationResultType.InvalidTwoFactorSecurityAnswer;
        isSignedOut = Model.AuthenticationResultType == AuthenticationResultType.SignedOut;
    }
}

<div class="card mx-auto" style="width: 22rem;">
    <div class="card-header">
        Sign In
    </div>
    <div class="card-body">
        @if (isSignedOut)
        {
            <div class="alert alert-success">
                Successfully signed out.
            </div>
        }
        else if (isInvalidCredentials)
        {
            <div class="alert alert-danger">
                Sign in failed!
            </div>
            <p class="card-text"><small class="text-muted">Please check your email if your account is locked.</small></p>
        }
        else if (isInvalidTwoFactorResponse)
        {
            <div class="alert alert-danger">
                Invalid two-factor authentication!  Please try again.
            </div>
        }
        else if (isInvalidSecurityAnswer)
        {
            <div class="alert alert-danger">
                Invalid security question answer!  Please try again.
            </div>
        }

        <form method="post" action="@Url.Content("~/Home/SignIn")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" name="username" value="@username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a href="@Url.Content("~/Home/ForgotPassword")" class="float-right">Forgot Password</a>

            <br />
            <br />
            <a href="@Url.Content("~/Home/SignUp")" class="float-right">Sign Up</a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            $('#username').focus()
        })
    </script>
}