﻿@using SiteUptime.Helpers.ObjectHelpers
@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
@model UserDetails
@{
    ViewData["Title"] = "Sign In - Two-Factor Authentication";   
}

<div class="card mx-auto" style="width: 22rem;">
    <div class="card-header">
        Two-Factor Authentication
    </div>
    <div class="card-body">
        @if (Model.IsInvalidRecaptcha)
        {
            <div class="alert alert-danger">
                There was an error submitting your security answer.  Please try again.
            </div>
        }
        <h6 class="card-subtitle mb-2 text-muted">Please enter the answer for your security question.</h6>
        <form method="post">
            @Html.AntiForgeryToken()            
            <br />
            <p>@Model.SecurityQuestion</p>            
            <hr />
            <div class="form-group">
                <label for="answer">Security Answer</label>
                <input type="text" class="form-control" id="answer" name="answer" value="" maxlength="100">
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@settings.Value.GoogleReCaptchaSiteKey"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" onclick="$('#SignOutForm').submit();" class="btn btn-link float-right">Back to Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(function() {
            $('#answer').focus()
        })
    </script>
}