﻿@using SiteUptime.Helpers.Results
@using Newtonsoft.Json
@model PublicStatusPageResult
@{
    Layout = "_PublicStatusPage_Layout";
    ViewData["Title"] = $"{Model.SelectedUptimeMonitorDetail.Name} - {Model.Name} Status";   
}

@if (Model.RequiresAuthentication)
{
    <div class="badge badge-secondary float-right" style="margin-bottom: 10px;"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" onclick="$('#SignOutForm').submit(); return false;"><strong>Sign Out</strong></a></div>

    <form id="SignOutForm" style="display: none;" action="@Url.Content("~/Home/PublicSignOut")?@Model.StatusPageKey" method="post"></form>
}

<div id="app" style="display: none;">

    @if (!string.IsNullOrEmpty(Model.LogoKey))
    {
        <div class="text-center">
            <img src="@Url.Content("~/Home/Logo?" + @Model.LogoKey)" />
        </div>
    }

    <h5><a href="@Url.Content("~/?" + Model.StatusPageKey)"><img src="@Url.Content("~/css/icons/arrow-left.svg")" alt="" width="40" height="40" /> Back</a></h5>
 
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h4>
                <span v-bind:class="'text-' + getStatusClassColor(selectedUptimeMonitorDetail.uptimeStatusTypeName)">
                    {{ selectedUptimeMonitorDetail.name }}
                </span>
                <span class="h6">({{ selectedUptimeMonitorDetail.uptimeMonitorTypeName }} - {{ monitoringIntervalText }})</span>
            </h4>
        </div>
        <div class="card-body">     

            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <h4 class="card-title">Current Status</h4>
                        <h2 v-if="selectedUptimeMonitorDetail.uptimeStatusTypeName">
                            <span v-bind:class="'badge badge-' + getStatusClassColor(selectedUptimeMonitorDetail.uptimeStatusTypeName)">
                                {{ selectedUptimeMonitorDetail.uptimeStatusTypeName }}
                            </span>
                        </h2>
                        <br />
                        {{ selectedUptimeMonitorDetail.currentStatusMessage }}

                        <hr />

                        <h4>Latest Downtime</h4>
                        <p>{{ selectedUptimeMonitorDetail.latestDownTimeMessage }}</p> 

                    </div>
                    <div class="col-md-6">
                    
                        <h4>Uptime</h4>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentageLast24Hours)">{{ (selectedUptimeMonitorDetail.uptimePercentageLast24Hours * 100).toPrecision(5) }}%</span>
                            (last 24 hours)
                        </p>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentageLast7Days)">{{ (selectedUptimeMonitorDetail.uptimePercentageLast7Days * 100).toPrecision(5) }}%</span>
                            (last 7 days)
                        </p>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentageLast30Days)">{{ (selectedUptimeMonitorDetail.uptimePercentageLast30Days * 100).toPrecision(5) }}%</span>
                            (last 30 days)
                        </p>
                    
                    </div>
                </div>
            </div>                               

        </div>
    </div>
    <br />

    <!-- Uptime: Last 7 Days -->
    <div class="card">
        <div class="card-header">
            <h4>Uptime: Last 7 Days</h4>
        </div>
        <div class="card-body">
        
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">@DateTime.Now.ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-1).ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-2).ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-3).ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-4).ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-5).ToString("dd MMM")</th>
                        <th scope="col">@DateTime.Now.AddDays(-6).ToString("dd MMM")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentageLast24Hours, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentageLast24Hours * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage1DayAgo, selectedUptimeMonitorDetail.wasMonitorActive1DayAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage1DayAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage2DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive2DaysAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage2DaysAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage3DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive3DaysAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage3DaysAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage4DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive4DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive6DaysAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage4DaysAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage5DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive5DaysAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage5DaysAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(selectedUptimeMonitorDetail.uptimePercentage6DaysAgo, selectedUptimeMonitorDetail.wasMonitorActive6DaysAgo, selectedUptimeMonitorDetail.uptimeMonitorTypeName)">
                                {{ (selectedUptimeMonitorDetail.uptimePercentage6DaysAgo * 100).toPrecision(5) }}%
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br />

    <!-- Response Time -->
    <div class="card">
        <div class="card-header">
            <h4>Response Time<span class="h6">: <strong>{{ selectedUptimeMonitorDetail.averageResponseTime }} ms</strong> (avg. for last 24 hours)</span></h4>
        </div>
        <div class="card-body">
        
            <div style="height: 300px;">
                <canvas id="uptimeMonitorChart" style="display: none;"></canvas>        
            </div>   

        </div>
    </div>
    <br />

    <!-- Latest Events -->
    <div class="card">
        <div class="card-header">
            <h4>Latest Events</h4>
        </div>
        <div class="card-body">            
            <div v-if="hasValidLatestEvents">
                <h5 class="card-title">Events</h5>                
                <table class="table table-bordered table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Date</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="event in latestEvents">
                            <td class="no-wrap">
                                <span v-bind:class="'badge badge-' + getStatusClassColor(event.eventName)">
                                    {{ event.eventName }}
                                </span>
                            </td>                                                        
                            <td class="no-wrap">{{ event.dateStr }}</td>
                            <td class="no-wrap">{{ event.reasonName }}</td>
                            <td class="no-wrap">{{ event.durationStr }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <h5 class="card-title">Events</h5>
                <p class="card-text">There are no events yet.</p>                
            </div>
        </div>
    </div>

</div>


@section Scripts {    
    <script>
        var selectedUptimeMonitorDetail = @Html.Raw(JsonConvert.SerializeObject(Model.SelectedUptimeMonitorDetail))
        var selectedUptimeMonitorChartData = @Html.Raw(JsonConvert.SerializeObject(Model.SelectedUptimeMonitorChartData))
        var selectedUptimeMonitorEventSummary = @Html.Raw(JsonConvert.SerializeObject(Model.SelectedUptimeMonitorEventSummary))
    </script>
}