﻿@using SiteUptime.Helpers.Results
@using Newtonsoft.Json
@model PublicStatusPageResult
@{
    Layout = "_PublicStatusPage_Layout";
    ViewData["Title"] = $"{Model.Name} Status";   
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    @if (Model.IsAuthenticated)
    {
        if (Model.RequiresAuthentication)
        {
            <div class="badge badge-secondary float-right" style="margin-bottom: 10px;"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" onclick="$('#SignOutForm').submit(); return false;"><strong>Sign Out</strong></a></div>

            <form id="SignOutForm" style="display: none;" action="@Url.Content("~/Home/PublicSignOut")?@Model.StatusPageKey" method="post"></form>
        }

        <div id="app" style="display: none;">

            @if (!string.IsNullOrEmpty(Model.LogoKey))
            {
                <div class="text-center">
                    <img src="@Url.Content("~/Home/Logo?" + @Model.LogoKey)" />
                </div>
            }

            <h2>@ViewData["Title"]</h2>

            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h4>Monitors</h4>
                </div>
                <div class="card-body">

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Last 7 Days</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col" colspan="7"></th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="4"></th>
                                <th scope="col">@DateTime.Now.ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-1).ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-2).ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-3).ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-4).ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-5).ToString("dd MMM")</th>
                                <th scope="col">@DateTime.Now.AddDays(-6).ToString("dd MMM")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="monitorDetail in currentUptimeMonitorDetails">
                                <td>
                                    <svg v-bind:class="'bi bi-circle-fill text-' + getStatusClassColor(monitorDetail.uptimeStatusTypeName)" style="margin-bottom: 15px;" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10" cy="10" r="8"/>
                                    </svg>
                                </td>                                                        
                                <td>
                                    <h5 v-bind:class="'text-' + getPercentHistoryClassColor(monitorDetail.uptimePercentageLast7Days, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentageLast7Days * 100).toPrecision(5) }}%
                                    </h5>
                                </td>
                                <td><a v-bind:href="'@Url.Content("~/Home/Detail?" + @Model.StatusPageKey)&monitorId=' + monitorDetail.uptimeMonitorId">{{ monitorDetail.name }}</a></td>
                                <td>{{ monitorDetail.uptimeMonitorTypeName }}</td>
                                <td>                                    
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentageLast24Hours, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentageLast24Hours * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                                <td>
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage1DayAgo, monitorDetail.wasMonitorActive1DayAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage1DayAgo * 100).toPrecision(5) }}%
                                    </span>                                        
                                </td>
                                <td>
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage2DaysAgo, monitorDetail.wasMonitorActive2DaysAgo, monitorDetail.wasMonitorActive6DaysAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage2DaysAgo * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                                <td>
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage3DaysAgo, monitorDetail.wasMonitorActive3DaysAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage3DaysAgo * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                                <td>
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage4DaysAgo, monitorDetail.wasMonitorActive4DaysAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage4DaysAgo * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                                <td>
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage5DaysAgo, monitorDetail.wasMonitorActive5DaysAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage5DaysAgo * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                                <td>    
                                    <span v-bind:class="'badge badge-' + getPercentHistoryClassColor(monitorDetail.uptimePercentage6DaysAgo, monitorDetail.wasMonitorActive6DaysAgo, monitorDetail.uptimeMonitorTypeName)">
                                        {{ (monitorDetail.uptimePercentage6DaysAgo * 100).toPrecision(5) }}%
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <br />

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Overall Uptime</h4>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(overallMonitorStats.uptimePercentageLast24Hours)">{{ (overallMonitorStats.uptimePercentageLast24Hours * 100).toPrecision(5) }}%</span>
                            (last 24 hours)
                        </p>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(overallMonitorStats.uptimePercentageLast7Days)">{{ (overallMonitorStats.uptimePercentageLast7Days * 100).toPrecision(5) }}%</span>
                            (last 7 days)
                        </p>
                        <p>
                            <span v-bind:class="'h5 text-' + getPercentHistoryClassColor(overallMonitorStats.uptimePercentageLast30Days)">{{ (overallMonitorStats.uptimePercentageLast30Days * 100).toPrecision(5) }}%</span>
                            (last 30 days)
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Latest Downtime</h4>
                        <p>{{ overallMonitorStats.latestDownTimeMessage }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Quick Stats</h4>

                        <table class="table table-sm">
                            <tbody>
                                <tr v-if="overallMonitorStats.downMonitorCount > 0">
                                    <td>
                                        <svg class="bi bi-circle-fill text-danger" style="margin-bottom: 5px;" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="8"/>
                                        </svg>
                                    </td>                                                        
                                    <td>                       
                                        <span class="text-danger">             
                                            {{ overallMonitorStats.downMonitorCount }} monitors down<br />
                                        </span>
                                        Refreshing in X secs                                    
                                    </td>
                                    <td></td>
                                </tr>
                                <tr v-if="overallMonitorStats.downMonitorCount == 0">
                                    <td>
                                        <svg class="bi bi-circle-fill text-success" style="margin-bottom: 5px;" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="8"/>
                                        </svg>
                                    </td>                                                        
                                    <td>                       
                                        <span class="text-success">             
                                            All Clear<br />
                                        </span>
                                        Refreshing in X secs                                    
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="bi bi-circle-fill text-success" style="margin-bottom: 5px;" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="8"/>
                                        </svg>
                                    </td>                                                        
                                    <td>
                                        <span class="text-success">
                                            Up
                                        </span>
                                    </td>
                                    <td>{{ overallMonitorStats.upMonitorCount }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="bi bi-circle-fill text-danger" style="margin-bottom: 5px;" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="8"/>
                                        </svg>
                                    </td>                                                        
                                    <td>
                                        <span class="text-danger">
                                            Down
                                        </span>
                                    </td>
                                    <td>{{ overallMonitorStats.downMonitorCount }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="bi bi-circle-fill text-dark" style="margin-bottom: 5px;" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="8"/>
                                        </svg>
                                    </td>                                                        
                                    <td>
                                        <span class="text-dark">
                                            Paused
                                        </span>
                                    </td>
                                    <td>{{ overallMonitorStats.pausedMonitorCount }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>        

        </div>
    }
    else
    {
        <div class="card mx-auto" style="width: 22rem;">
            <div class="card-header">
                @ViewData["Title"] - Sign In
            </div>
            <div class="card-body">
                @if (Model.InvalidCredentials)
                {
                    <div class="alert alert-danger">
                        Sign in failed!
                    </div>
                }

                <form method="post" action="@Url.Content("~/Home/PublicSignIn")?@Model.StatusPageKey">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    }    
}
else
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Invalid Public Status Page
        </div>
        <div class="card-body">
            <p class="card-text">This public status page does not exist.</p>
        </div>
    </div>
}

@section Scripts {
    @if (Model.IsAuthenticated)
    {
        <script>
            var overallMonitorStats = @Html.Raw(JsonConvert.SerializeObject(Model.OverallMonitorStats))
            var currentUptimeMonitorDetails = @Html.Raw(JsonConvert.SerializeObject(Model.CurrentUptimeMonitorDetails))
        </script>
    }

    <script>
        $(function() {
            if ($('#password').length) {
                $('#password').focus()
            }
        })
    </script>
}