﻿@using SiteUptime.Helpers.Authentication
@model AuthenticationResult
@{
    ViewData["Title"] = "Sign In - Reset Password Email Sent";   
}

<div class="card mx-auto" style="width: 22rem;">
    <div class="card-header">
        Reset Password Email Sent
    </div>
    <div class="card-body">
        <p class="card-text">We just sent you an email with a recovery link (if your email is valid).</p>
        <br />
        <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
    </div>
</div>