﻿@using SiteUptime.Helpers.Authentication
@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
@model SignUpResult
@{
    ViewData["Title"] = "Sign Up";   

    var isInvalidEmail = false;
    var isEmailInUse = false;
    var isInvalidPassword = false;
    var isInvalidRecaptcha = false;
    var isError = false;
    var firstName = string.Empty;
    var lastName = string.Empty;
    var email = string.Empty;

    if (Model != null)
    {
        isInvalidEmail = Model.SignUpResultType == SignUpResultType.InvalidEmail;
        isEmailInUse = Model.SignUpResultType == SignUpResultType.EmailInUse;
        isInvalidPassword = Model.SignUpResultType == SignUpResultType.InvalidPassword;
        isInvalidRecaptcha = Model.SignUpResultType == SignUpResultType.InvalidRecaptcha;
        isError = Model.SignUpResultType == SignUpResultType.Error;
        firstName = Model.FirstName;
        lastName = Model.LastName;
        email = Model.Email;
    }
}

<div class="card mx-auto" style="width: 22rem;">
    <div class="card-header">
        Sign Up
    </div>
    <div class="card-body">
        @if (isError)
        {
            <div class="alert alert-danger">
                There was an error signing up.  Please complete all the fields and try again.
            </div>
        }
        else if (isInvalidRecaptcha)
        {
            <div class="alert alert-danger">
                There was an error verifying your sign-up information.  Please complete all the fields and try again.
            </div>
        }

        <form method="post" class="needs-validation" novalidate>
            @Html.AntiForgeryToken()            
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" value="@firstName" required>
                <div class="invalid-feedback">
                    <span>Please enter a first name.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="@lastName" required>
                <div class="invalid-feedback">
                    <span>Please enter a last name.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control @{ if (isInvalidEmail || isEmailInUse) { WriteLiteral("is-invalid"); } }" id="email" name="email" value="@email" required>
                <div class="invalid-feedback">                        
                    @if (isInvalidEmail) 
                    { 
                        <span>The email address must be valid.</span>
                    }
                    else if (isEmailInUse)
                    {
                        <span>The email address is already in use.</span>
                    }
                    else 
                    {
                        <span>Please enter an email address.</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control @{ if (isInvalidPassword) { WriteLiteral("is-invalid"); } }" id="password" name="password" required>
                <div class="invalid-feedback">                        
                    @if (isInvalidPassword) 
                    { 
                        <span>The password must be at least 6 characters.</span>
                    }
                    else 
                    {
                        <span>Please enter a password.</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@settings.Value.GoogleReCaptchaSiteKey"></div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="@Url.Content("~/")" class="float-right">Already have an account?</a>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');                        
                    }, false);
                });
            }, false);            
        })();
    </script>
}