﻿@using SiteUptime.Helpers.Authentication
@{
    ViewData["Title"] = "Sign Up - Activation Email Sent";   
}

<div class="card mx-auto" style="width: 22rem;">
    <div class="card-header">
        Activation Email Sent
    </div>
    <div class="card-body">
        <p class="card-text">Thanks!  Please check your email for a link to activate your account.</p>
        <br />
        <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
    </div>
</div>