﻿@using SiteUptime.Helpers.Authentication
@using SiteUptime.Helpers.Types
@model TwoFactorChallenge
@{
    ViewData["Title"] = "Sign In - Two-Factor Authentication";   
}

@if (Model.TwoFactorTypeCode == TwoFactorTypes.Totp)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Two-Factor Authentication
        </div>
        <div class="card-body">
            <div class="alert alert-primary">
                Please enter the code from your authentication device.
            </div>
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="code">Authentication Code</label>
                    <input type="text" class="form-control" id="code" name="code" value="">
                </div>
                <button type="submit" class="btn btn-primary">Confirm</button>
                <a href="@Url.Content("~/Home/LostTwoFactor")" class="float-right">Lost Authenticator</a>
            </form>
        </div>
    </div>
}
else if (Model.TwoFactorTypeCode == TwoFactorTypes.U2f)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Two-Factor Authentication
        </div>
        <div class="card-body">
            <div id="pnlU2fPrompt" class="alert alert-primary">
                Please insert your security key into the computer. Then if it has a button, press it.
            </div>
            <div id="pnlErrorAuthenticating" style="display: none;">
                <div class="alert alert-danger">
                    The device is invalid or timed out.  Please try again.                
                </div>

                <a href="@Url.Content("~/Home/TwoFactorAuth")" class="btn btn-primary">Try Again</a>
                <button type="button" onclick="$('#SignOutForm').submit();" class="btn btn-link float-right">Back to Sign In</button>
                <hr />                
            </div>
            <form id="u2fForm" method="post">
                @Html.AntiForgeryToken()
                <input id="deviceResponse" name="deviceResponse" type="hidden" />
                <a href="@Url.Content("~/Home/LostTwoFactor")" class="float-right">Lost Authenticator</a>
            </form>
        </div>
    </div>
}


@if (Model.TwoFactorTypeCode == TwoFactorTypes.Totp)
{
    @section Scripts {        
        <script>
            $(function() {
                if ($('#code').length) {
                    $('#code').focus()
                }
            })
        </script>
    }
}
else if (Model.TwoFactorTypeCode == TwoFactorTypes.U2f)
{
    @section Scripts {
        <script>            
            window.u2f.sign(
                '@Model.AppId',
                '@Model.Challenge',
                @Html.Raw(@Model.Challenges), function (data) {

                if (data.errorCode) {
                    $('#pnlU2fPrompt').hide();
                    $('#pnlErrorAuthenticating').show();
                }
                else {
                    $('#deviceResponse').val(JSON.stringify(data));
                    $('#u2fForm').submit();
                }

                return '';
            });
        </script>
    }
}