﻿@using SiteUptime.Helpers.Authentication
@model UnlockAccountResult
@{
    var isInvalidCode = false;

    if (Model != null)
    {
        isInvalidCode = Model.UnlockAccountResultType == UnlockAccountResultType.InvalidCode;
    }

    ViewData["Title"] = "Unlock Account";    
}

@if (isInvalidCode)
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Unlock Account - Invalid Code
        </div>
        <div class="card-body">
            <p class="card-text">The unlock code is invalid.</p>
            <br />
            <a href="@Url.Content("~/")" class="btn btn-primary">Back to Sign In</a>
        </div>
    </div>
}
else
{
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-header">
            Account Unlocked
        </div>
        <div class="card-body">
            <div class="alert alert-success">
                Your account was successfully unlocked!
            </div>
            <br />
            
            <a href="@Url.Content("~/")" class="btn btn-primary">Sign In</a>         
        </div>
    </div>
}
