﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 30px; /* Vertically center the text there */
}

/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}

.signed-in-text {
  color: lightblue;
}

.truncate-text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

#accordion .card-header {
  padding: 5px 8px;
}

#accordion .card-body {
  padding: 5px 8px;
}

#accordion .card-body .btn-link {
  padding: 0;
}

.monitor-side-bar {
  min-width: 350px;
  height: 70vh;
  overflow: auto;
}

.container {
  padding: 8px;
  margin: auto;
}

.smaller-card-body-padding {
  padding: 0.5rem;
}

.canvas-container {
  width: 100%;
  text-align: center;
}

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.form-control.is-valid, .form-control:valid {
  border-color: #ced4da !important;
  background-image: none !important;
}
